/* تعديل الـ Navbar */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 180px; 
  margin-right: 15px;
  
}

.navbar-nav .nav-link {
  color: #000000;
  margin-left: 20px;
  font-size: 1.2rem;
  padding: 10px 15px;
  transition: border 0.3s ease;
}

.navbar-nav .nav-link.active {
  color: #ffffff;
  border-radius: 5px;
}

.navbar-nav .dropdown-menu {
  background-color: #ffffff;
  border-radius: 5px;
}

/* قسم الساعة */
.watch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 50px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.watch-container h1 {
  font-size: 60px;
  font-weight: bold;
  color: #0e0335cf;
  width: 700px;
}

.watch-container p {
  font-size: 1.5rem;
  color: #666666;
  margin-top: 20px;
  margin-right: 20px;
  width: 650px;
}

.watch-container .btn {
  background-color: #b61d1d;
  color: #ffffff;
  font-size: 22px;
  padding: 15px 30px;
  border-radius: 12px;
  margin-top: 30px;
}

.watch-container .btn:hover {
  background-color: #e30000;
}

.watch-container img {
  max-width: 300px;
  height: auto;
  margin-left: 30px;
  border-radius: 13px;
  cursor: pointer;
  transition: 400ms;
  margin-top: 21px;
  }

  

/* قسم المنتجات الجديدة */
.pro h2 {
  text-align: center;
  font-size: 25px;
  margin-right: 40px;
  color: #666666;
}

.pro p {
  text-align: center;
  margin-right: 50px;
  color: #e30000;
}

.pro img {
    border-radius: 8px;
    cursor: pointer;
    transition: 400ms;
  }
.pro img:hover {
    transform: scale(1.03);
  }
  

/* قسم معرض الصور */
/* قسم معرض الصور */
.ims {
  display: grid;
  grid-template-areas:
      "img1 img2 img3"
      "img1 img2 img4";
  grid-gap: 2px;
  margin-top: 40px;
}

.ims img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 13px;
  cursor: pointer;
  transition: 400ms;
  }
.ims img:hover {
    transform: scale(1.03);
  }
  

.full-width {
  grid-area: img1;
  height: 800px; /* الحجم الأكبر للصورة */
}

.ss img{
  margin-bottom: 10px;
}
.half-width {
  grid-area: img2;
  height: 345px; /* حجم متوسط للصورة */
}

.quarter-width {
  grid-area: img3;
  height: 345px; /* حجم صغير للصورة */
}

.small-height {
  grid-area: img4;
  height: 345px; /* حجم صغير للصورة */
}
.ca img {
  height: 672px;
}
.da img {
  height: 672px;
  margin-left: 0px;
}
.pop{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.popphoo{
  display: flex;
  justify-content: space-around;
}
.pop p {
  width: 900px;
  color: #666666;
  margin-left: 295px;
}
.pop h1 {
  color: #000000;
  font-weight: bolder;
}
.pop h3 {
  font-size: 25px;
}
.add-to-cart {
  margin-top: 10px;
  margin-bottom: 10px;
}
.product h1 {
  color: #666666;
  font-weight: 100px;
}
.product h3{
  font-size: medium;
  color: #6666669b;
}

.show {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
.show h1{
  color: #000000;
  font-weight: bold;
}
.show p {
  width: 600px;
  color: #666666;
}

.popphoo img{
  width: 400px;
  background-size: cover;
  border-radius: 13px;
  cursor: pointer;
  transition: 400ms;
  }
img:hover {
    transform: scale(1.03);
  }
  
.fkd {
  margin-top: 80px;
}
.msld{
  width: 400px;
  background-size: cover;
  border-radius: 13px;
  cursor: pointer;
  transition: 400ms;
  }

.showww{
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly; 
}
.showww h1{
  color: #000000;
  font-weight: bold;
}
.showww p {
  width: 600px;
  color: #666666;
}
.showww button {
  color: #ffffff;
  border: none;
  background-color: #e30000;
  border-radius: 8px;
  font-size: 25px;
}
.showww img{
  width: 500px;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  }


/* تعديل القسم الأخير */

.features-section {
  display: flex;
  justify-content: space-between;
  background-color: #ff0000; /* اللون الأحمر */
  padding: 40px; /* ضبط المسافات من الجوانب ومن الأعلى والأسفل */
  height: 200px; /* ضبط ارتفاع القسم */
  margin: 50px; /* مسافة من الأعلى والأسفل */
}

.feature {
  text-align: left;
  flex: 1;
  color: white;
  margin: 0 20px; /* زيادة المسافة بين العناصر */
}

.feature i {
  font-size: 50px; /* حجم الأيقونة */
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 18px; /* حجم عنوان القسم */
  font-weight: bold;
  margin-bottom: 10px; /* المسافة بين العنوان والنص */
}

.feature p {
  font-size: 14px; /* حجم نص الفقرة */
}

@media (max-width: 768px) {
  .features-section {
    flex-direction: column; /* تغيير اتجاه العناصر إلى عمودي في الشاشات الصغيرة */
    align-items: center; /* توسيط العناصر */
    height: auto; /* ضبط الارتفاع تلقائي */
  }

  .feature {
    margin-bottom: 20px; /* مسافة بين العناصر في العرض العمودي */
  }
}

footer {
  padding: 40px 0;
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 40px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footer-section img {
  width: 150px; /* التحكم في حجم الصورة */
  margin-bottom: 20px; /* مسافة أسفل الصورة */
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: red;
}


.footer-section p {
  color: #555;
  margin-top: 15px;
}

.footer-section p span {
  color: red;
}
.foot{
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}


.footer-social a {
  font-size: 25px;
  color: #333;
  margin: 0 5px;
  text-decoration: none;
}

.footer-social a:hover {
  color: rgb(93, 78, 78);
}
.span{
  font-size: 20px;
}
.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background-color: #e63946; /* اللون الأساسي - يمكنك تغييره */
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button:hover {
  color: black; /* اللون عند التحويم */
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f1faee; /* اللون عند التحويم */
  z-index: -1;
  border-radius: 0px;
  transition: 0.3s ease all;
  transform: scale(0, 1);
  transform-origin: bottom left;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
}

.button:hover::after {
  transform: scale(1, 1);
  transform-origin: bottom left;
}
img {
  width: 400px;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
  }
img:hover {
    transform: scale(1.03);
  }



